<template>
    <div>
        You should not see this
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component({})
    export default class Home extends Vue {
    }
</script>