<template>
    <img :class="Base" :style="Style" :src="src" alt="Oops, image could not be found... :<">
</template>

<style lang='scss' scoped>
    .width-based {
        max-width: 100%;
        height: auto;
    }

    .height-based {
        max-height: 100%;
        width: auto;
    }

    .max-based {
        width: 100%;
        height: 100%;
    }
</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	
	@Component({
		props: {
			src: String,
			relative: Boolean,
			type: String
		}
	})
	export default class Pic extends Vue {
		private relative?: boolean;
		private type?: "w" | "h" | "b";

		get Base() {
			switch (this.type!) {
				case "w":
					return "width-based";
				case "h":
					return "height-based";
				case "b":
					return "max-based";
			}
		}

		get Style() {
			return {position: this.relative! ? "relative" : "absolute"}
		}
	}
</script>
