<template>
    <div>
        <div class="image-holder">
            <Pic :src="ProfileData.picture" type="b" :relative="false"/>
        </div>
        <div>
            {{ProfileInfo}}
        </div>

    </div>
</template>

<style lang='scss' scoped>
    .image-holder {
        position: relative;
        width: 120px;
        height: 120px;
    }
</style>

<script lang='ts'>
    import {Component, Vue} from 'vue-property-decorator';
    import Pic from "../components/Pic.vue";

    @Component({
        components: {Pic}
    })
    export default class Profile extends Vue {
        profile: any = this.$auth.profile;
        error: string = '';


        //Getters

        get DisplayError(): boolean {
            return !this.error!.IsEmpty();
        }

        get ProfileData(): any {
            return this.profile!;
        }

        get ProfileInfo(): string {
            return JSON.stringify(this.ProfileData || {});
        }

        //Events
        handleLoginEvent(data: any): void {
            this.profile = data.profile;
        }


    }
</script>
