<template>
    <div>
        Please Verify your email before continuing<br>
    </div>
</template>

<style lang='scss' scoped>

</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	
	@Component({})
	export default class VerifyEmail extends Vue {
	}
</script>
