<template>
    <div class="parent">
        <NavBar v-show='authenticated' :authenticated="authenticated"/>

        <router-view v-show='authCheck'/>
        <div class="loading" v-if="!authCheck">
            Loading... Please wait~
        </div>

    </div>
</template>

<style scoped lang="scss">
    .parent {
        width: 100%;
        height: 100%;
    }

    .loading {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
</style>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import NavBar from './components/NavBar.vue';

    @Component({
        components: {
            NavBar,
        }
    })

    export default class App extends Vue {


        authenticated: boolean = false;
        authCheck: boolean = false;

        async created() {
            try {
                await this.$auth.renewTokens();
                this.authCheck = true;
            } catch {
                this.authCheck = true;
            }
        }

        handleLoginEvent(data: any) {
            this.authenticated = data.loggedIn;
        }
    }
</script>
